In [1]:
import pandas as pd
import os
from collections import defaultdict
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

/Users/danielastepanov/miniconda3/envs/qa-align/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  import sys

In [9]:
p1 = pd.read_csv("../../data/QASRL_Annotations/production/prod_1_qasrl_generation.csv")
sents = pd.read_csv("../../data/QASRL_Annotations/batch_1_live_qasrl_sentences.csv")
p2 = pd.read_csv("../../data/QASRL_Annotations/production/prod_2_qasrl_generation.csv")
sents2 = pd.read_csv("../../data/QASRL_Annotations/batch_2_live_qasrl_sentences.csv")
p3 = pd.read_csv("../../data/QASRL_Annotations/production/prod_3_qasrl_generation.csv")
sents3 = pd.read_csv("../../data/QASRL_Annotations/batch_3_live_qasrl_sentences.csv")

In [10]:
all_gen = p1.append(p2)
all_gen = all_gen.append(p3)
all_sents = sents.append(sents2)
all_sents = all_sents.append(sents3)

### Doing QASRL Production Analysis for Assessing the Quality of Annotations

#### Average number of questions per predicate

In [14]:
avg_qs = all_gen.groupby(['qasrl_id', 'verb_idx', 'verb']).size().reset_index()
avg_qs[0].mean()

2.714556841905485

In [29]:
sample_sentences = all_sents.sample(20)

In [30]:
sample_generations = all_gen[all_gen.qasrl_id.isin(sample_sentences.qasrl_id)]

In [31]:
len(sample_generations.groupby(['qasrl_id', 'verb_idx', 'verb']))

54

In [36]:
sample_sentences.iloc[0]

qasrl_id    35_3ecb~!~2~!~141
sentence    Police apprehended Jackson at about 2:30 a.m. and booked him for the misdemeanour before his release , making for a long night with a playoff looming on Sunday at Pittsburgh against the Steelers
tokens      Police apprehended Jackson at about 2:30 a.m. and booked him for the misdemeanour before his release , making for a long night with a playoff looming on Sunday at Pittsburgh against the Steelers
Name: 121, dtype: object

In [37]:
sample_generations['sents'] = sample_generations.qasrl_id.apply(lambda x: sample_sentences[sample_sentences.qasrl_id == x]['sentence'].iloc[0])

/Users/danielastepanov/miniconda3/envs/qa-align/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
sample_generations.to_csv("../../data/QASRL_Annotations/eval/sample_production_generation_for_evaluation.csv", index=False)

In [44]:
sample_generations.tail(10)[['qasrl_id','verb']]

                                qasrl_id      verb
4886  37_1ecb~!~0~!~329                   killed
4887  37_1ecb~!~0~!~329                   killed
4965  MultiNews_test8~!~1_parsed.txt~!~9  display
4966  MultiNews_test8~!~1_parsed.txt~!~9  display
4967  MultiNews_test8~!~1_parsed.txt~!~9  display
4968  MultiNews_test8~!~1_parsed.txt~!~9  display
5213  12_4ecb~!~0~!~84                    captured
5214  12_4ecb~!~0~!~84                    captured
5215  12_4ecb~!~0~!~84                    captured
5216  12_4ecb~!~0~!~84                    captured

In [10]:
p1.columns

Index(['qasrl_id', 'verb_idx', 'verb', 'worker_id', 'assign_id',
       'source_assign_id', 'question', 'is_redundant', 'answer_range',
       'answer', 'wh', 'subj', 'obj', 'obj2', 'aux', 'prep', 'verb_prefix',
       'is_passive', 'is_negated'],
      dtype='object')

In [4]:
all_sents = sents.append(sents2)
all_sents = all_sents.append(sents3)

In [5]:
#p1['sentence'] = p1['qasrl_id'].apply(lambda x: sents[sents.qasrl_id == x]['sentence'].iloc[0])
#p2['sentence'] = p2['qasrl_id'].apply(lambda x: sents2[sents2.qasrl_id == x]['sentence'].iloc[0])
p3['sentence'] = p3['qasrl_id'].apply(lambda x: all_sents[all_sents.qasrl_id == x]['sentence'].iloc[0])

In [9]:
p1.groupby(['worker_id']).size().reset_index() #num verbs

        worker_id     0
0  A1FS8SBR4SDWYG  1611
1  A2A4UAFZ5LW71K  1328
2  A3IR7DFEKLLLO   325
3  A98E8M4QLI9RS   262
4  AJQGWGESKQT4Y   991

In [4]:
p2.groupby(['worker_id']).size().reset_index() #num verbs

        worker_id     0
0  A1FS8SBR4SDWYG  1560
1  A21LONLNBOB8Q   785
2  A2A4UAFZ5LW71K  753
3  A3IR7DFEKLLLO   128
4  A3TUJHF9LW3M8N  529
5  A98E8M4QLI9RS   116
6  AJQGWGESKQT4Y   538

In [6]:
p3.groupby(['worker_id']).size().reset_index()

        worker_id     0
0  A1FS8SBR4SDWYG  1912
1  A21LONLNBOB8Q   910
2  A2A4UAFZ5LW71K  715
3  A3IR7DFEKLLLO   86
4  A3TUJHF9LW3M8N  1088
5  A98E8M4QLI9RS   161
6  AJQGWGESKQT4Y   505

In [13]:
#### batch 2
sample_qas1 = list(p2[p2.worker_id == 'A1FS8SBR4SDWYG'].qasrl_id.unique())[:8]
sample_qas2 = list(p2[p2.worker_id == 'A2A4UAFZ5LW71K'].qasrl_id.unique())[:6]
sample_qas3 = list(p2[p2.worker_id == 'A3IR7DFEKLLLO'].qasrl_id.unique())[:6]
sample_qas4 = list(p2[p2.worker_id == 'A98E8M4QLI9RS'].qasrl_id.unique())[:6]
sample_qas5 = list(p2[p2.worker_id == 'AJQGWGESKQT4Y'].qasrl_id.unique())[:6]
sample_qas6 = list(p2[p2.worker_id == 'A21LONLNBOB8Q'].qasrl_id.unique())[:8]
sample_qas7 = list(p2[p2.worker_id == 'A3TUJHF9LW3M8N'].qasrl_id.unique())[25:35]

In [24]:
#### batch 1:
sample_qas1 = list(p1[p1.worker_id == 'A1FS8SBR4SDWYG'].qasrl_id.unique())[:10]
sample_qas2 = list(p1[p1.worker_id == 'A2A4UAFZ5LW71K'].qasrl_id.unique())[:10]
sample_qas3 = list(p1[p1.worker_id == 'A3IR7DFEKLLLO'].qasrl_id.unique())[:10]
sample_qas4 = list(p1[p1.worker_id == 'A98E8M4QLI9RS'].qasrl_id.unique())[:10]
sample_qas5 = list(p1[p1.worker_id == 'AJQGWGESKQT4Y'].qasrl_id.unique())[:10]

In [7]:
#### Batch 3
sample_qas1 = list(p3[p3.worker_id == 'A1FS8SBR4SDWYG'].qasrl_id.unique())[:8]
sample_qas2 = list(p3[p3.worker_id == 'A2A4UAFZ5LW71K'].qasrl_id.unique())[:6]
sample_qas5 = list(p3[p3.worker_id == 'AJQGWGESKQT4Y'].qasrl_id.unique())[:6]
sample_qas6 = list(p3[p3.worker_id == 'A21LONLNBOB8Q'].qasrl_id.unique())[:8]
sample_qas7 = list(p3[p3.worker_id == 'A3TUJHF9LW3M8N'].qasrl_id.unique())[25:35]

In [6]:
sample_qas1

['DUC2005~!~d366i~!~LA041889-0026~!~650',
 'TAC2011~!~D1126-B-AEFH~!~16',
 'DUC2005~!~d324e3~!~FT932-6577~!~195',
 'TAC2008~!~D0802-B~!~AFP_ENG_20051021.0151~!~60',
 'DUC2007~!~D0701-AGHI~!~13',
 'DUC2005~!~114.D435.M.250.F.1~!~108',
 'DUC2007~!~D0734-EFHJ~!~28',
 'DUC2007~!~D0727~!~APW19990928.0162~!~56']

#### Batch 1

In [26]:
p1[(p1.worker_id == 'A1FS8SBR4SDWYG') &(p1.qasrl_id.isin(sample_qas1))].to_csv("prod1_sample_A1FS8SBR4SDWYG.csv", index=False)
p1[(p1.worker_id == 'A2A4UAFZ5LW71K') &(p1.qasrl_id.isin(sample_qas2))].to_csv("prod1_sample_A2A4UAFZ5LW71K.csv", index=False)
p1[(p1.worker_id == 'A3IR7DFEKLLLO') &(p1.qasrl_id.isin(sample_qas3))].to_csv("prod1_sample_A3IR7DFEKLLLO.csv", index=False)
p1[(p1.worker_id == 'A98E8M4QLI9RS') &(p1.qasrl_id.isin(sample_qas4))].to_csv("prod1_sample_A98E8M4QLI9RS.csv", index=False)
p1[(p1.worker_id == 'AJQGWGESKQT4Y') &(p1.qasrl_id.isin(sample_qas5))].to_csv("prod1_sample_AJQGWGESKQT4Y.csv", index=False)

#### Batch 2

In [14]:
#p2[(p2.worker_id == 'A1FS8SBR4SDWYG') &(p2.qasrl_id.isin(sample_qas1))].to_csv("prod2_sample_A1FS8SBR4SDWYG.csv", index=False)
#p2[(p2.worker_id == 'A2A4UAFZ5LW71K') &(p2.qasrl_id.isin(sample_qas2))].to_csv("prod2_sample_A2A4UAFZ5LW71K.csv", index=False)
#p2[(p2.worker_id == 'A3IR7DFEKLLLO') &(p2.qasrl_id.isin(sample_qas3))].to_csv("prod2_sample_A3IR7DFEKLLLO.csv", index=False)
#p2[(p2.worker_id == 'A98E8M4QLI9RS') &(p2.qasrl_id.isin(sample_qas4))].to_csv("prod2_sample_A98E8M4QLI9RS.csv", index=False)
#p2[(p2.worker_id == 'AJQGWGESKQT4Y') &(p2.qasrl_id.isin(sample_qas5))].to_csv("prod2_sample_AJQGWGESKQT4Y.csv", index=False)
#p2[(p2.worker_id == 'A21LONLNBOB8Q') &(p2.qasrl_id.isin(sample_qas6))].to_csv("prod2_sample_A21LONLNBOB8Q.csv", index=False)
p2[(p2.worker_id == 'A3TUJHF9LW3M8N') &(p2.qasrl_id.isin(sample_qas7))].to_csv("prod2_sample_A3TUJHF9LW3M8N.csv", index=False)

#### Batch 3

In [8]:
p3[(p3.worker_id == 'A1FS8SBR4SDWYG') &(p3.qasrl_id.isin(sample_qas1))].to_csv("../../data/QASRL_Annotations/eval/prod3_sample_A1FS8SBR4SDWYG.csv", index=False)
p3[(p3.worker_id == 'A2A4UAFZ5LW71K') &(p3.qasrl_id.isin(sample_qas2))].to_csv("../../data/QASRL_Annotations/eval/prod3_sample_A2A4UAFZ5LW71K.csv", index=False)
p3[(p3.worker_id == 'AJQGWGESKQT4Y') &(p3.qasrl_id.isin(sample_qas5))].to_csv("../../data/QASRL_Annotations/eval/prod3_sample_AJQGWGESKQT4Y.csv", index=False)
p3[(p3.worker_id == 'A21LONLNBOB8Q') &(p3.qasrl_id.isin(sample_qas6))].to_csv("../../data/QASRL_Annotations/eval/prod3_sample_A21LONLNBOB8Q.csv", index=False)
p3[(p3.worker_id == 'A3TUJHF9LW3M8N') &(p3.qasrl_id.isin(sample_qas7))].to_csv("../../data/QASRL_Annotations/eval/prod3_sample_A3TUJHF9LW3M8N.csv", index=False)